
.img-responsive {
    background-image: url(https://www.itl.cat/pngfile/big/21-216273_yoshi-wallpaper-hd-groovy-wallpapers-these-video-game.jpg);
    display: block; 
    max-width: 100%;
    height: auto;
}