.bg-img { 
    background-image: url(http://portfolio.dustweb.org/web/frankensite/images/yoshiBanner.png);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}