<div class="tile is-parent">
  <a href="/games/{{id}}">
    <article class="tile is-child notification is-info">
      <p class="title">{{title}}</p>
      <figure class="image is-128x128">
        <img src="{{image_file}}">
      </figure>
    </article>
  </a>
</div>