  <div class="tile is-parent is-primary level container is-5">
      <article class="tile is-child notification level level-item is-primary custom">
        <p class="title level-item custom">{{title}}</p>
        <div class="card-image has-text-centered level-item">
        <figure class="image is-128x128 inline-block m-3">
          {{#if image_file}}
          <img src="{{image_file}}">
          {{else}}
          <img src="https://st4.depositphotos.com/2381417/26959/i/1600/depositphotos_269592716-stock-photo-thumbnail-images-placeholder-forums-blogs.jpg">
          {{/if}}
        </figure>
        </div>
        <a href="/games/{{id}}" class="level-item button is-danger m-4">Go to Game Page</a>
      </article>
  </div>