
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        404 Page
      </h1>
      <p class="subtitle">
        Yoshi says<strong>You suck try again</strong>!
      </p>
    </div>
  </section>
  </body>
