 <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        <figure class="image is-547x500">
  <img src="http://pm1.narvii.com/5954/87c44680feaee4005da9d3f476b4cf50813f49bc_hq.jpg">
</figure>
        <strong>404 Page</strong>
      </h1>
      <p class="subtitle">
        Yoshi says<strong>You suck try again</strong>!
      </p>
    </div>
  </section>
  </body>
