
  <h1>Contact Us</h1>
  {{#if message}}
    <p class="message">{{ message }}</p>
  {{/if}}
  <form action="/send-email" method="post">
    <input type="text" name="name" placeholder="Name" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="text" name="subject" placeholder="Subject" required>
    <textarea name="message" placeholder="Message" required></textarea>
    <button type="submit">Send</button>
  </form>
