    <div class="tile is-parent">
        <article class="tile is-child ">
          <p class="title tile notification is-danger is-9 m-5">Most Reviewed Games</p>
          <div >
            {{#each games as |game|}}
            {{> gamelist}}
            {{/each}}
          </div>
          </figure>
        </article>
    </div>