<div class="tile is-parent">
  <article class="tile is-child ">
    <p class="title tile notification is-danger is-8 m-6">Reviewed Games</p>
    <div>
      {{#each games as |game|}}
      {{> gamelist}}
      {{/each}}
    </div>
    </figure>
  </article>
</div>