<div class="tile is-parent">
    <article class="tile is-child">
        <p class="title title tile notification is-danger is-8 m-6">Search Results</p>
        <div id="container">
            {{#each games as |game|}}
            {{> searchlist}}
            {{/each}}
        </div>
        </figure>
    </article>
</div>

<script src="../../js/newgame.js"></script>