<div class="tile is-parent">
    <article class="tile is-child notification is-info">
        <p class="title">Search Results</p>
        <div class="section">
            {{#each games as |game|}}
            {{> searchlist}}
            {{/each}}
        </div>
        </figure>
    </article>
</div>

<script src="../../js/newgame.js"></script>