
<nav class="level">
    <div class="level-item">
      <p class="level-item"><a href="/profile">Favorite Reviews</a></p>
    </div>
    <div class="level-item">
      <p class="level-item"><a href="/profile/my_reviews">My Reviews</a></p>
    </div>
    <div class="level-item">
      <p class="level-item"><a href="/profile/wish_list">My Wish List</a></p>
    </div>

</nav>
<div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Your Favorited Reviews</p>
          {{#if reviews}}
          <div class="section">
            {{#each reviews as |review|}}
            {{> reviewlist}}
            {{/each}}
          </div>
          {{else}}
          <div>You have no favorites saved</div>
          {{/if}}
          </figure>
        </article>
    </div>