<div class="tile is-parent">
    <article class="tile is-child">
        <p class="title title tile notification is-danger is-8 m-6">Search Results</p>
        <div class="section">
            {{#each games as |game|}}
            {{> gamelist}}
            {{/each}}
        </div>
        <div class="tile is-parent notification is-danger level container is-5">
            <p class="level-item">Game not on the list?</p>
            <a class="level-item button is-primary" href="/newgames/search/{{search}}"><p>Search More</p></a>
        </div>
        
    </article>
</div>
