  <section class="section">
    <div class="container">
      <h1 class="title">
        Wishlist
      </h1>
      <p class="subtitle">
        Save all your games you want to <strong>BUY</strong>!
      </p>
    </div>
  </section>
