<nav class="level">
    <div class="level-item">
      <p class="level-item"><a class="button is-primary is-large" href="/profile">Favorite Reviews</a></p>
    </div>
    <div class="level-item">
      <p class="level-item"><a class="button is-primary is-large" href="/profile/my_reviews">My Reviews</a></p>
    </div>
    <div class="level-item">
      <p class="level-item"><a class="button is-danger is-large" href="/profile/wish_list">My Wish List</a></p>
    </div>

</nav>
<div class="tile is-parent">
        <article class="tile is-child">
          {{!-- <p class="title">Your Wish List</p> --}}
          {{#if userGames.games}}
          <div class="section">
            {{#each userGames.games as |game|}}
            {{> gamelist}}
            {{/each}}
          </div>
          {{else}}
          <div class=" notification is-danger">You have no saved games</div>
          {{/if}}
          </figure>
        </article>
    </div>