*{
    text-decoration: none;
}

.custom{
    text-decoration: none;
}

.bg-img { 
    background-image: url(https://wallpapercave.com/wp/wp4623529.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
    min-height: 100vh;
}

input[type=checkbox]{
    opacity: 0;
}

.navbar {
    background-color: hsl(0 100% 100% / 0.1);
}